body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding-left: 180px;
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    font-size: 18px;
    padding-right: 180px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.hero-section {
    background-color: #1F2937;
    display: flex;
    padding: 130px 180px 130px 180px;
    gap: 30px;
    justify-content: center;
}

h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

.left-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.right-content {
    display: flex;
    flex: 1;
    background-color: rgb(143, 148, 150);
    justify-content: center;
    align-items: center;
}

.info-section {
    display: flex;
    flex-direction: column;
}

.info-title {
    font-weight: 700;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.info-container-two {
    display: flex;
    justify-content: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 100px;
    align-items: center;
    gap: 10px;
}

.box {
    height: 150px;
    width: 150px;
    border: solid #3882f6 4px;
    border-radius: 10px;
    margin: 0px;

}

.box-text {
    text-align: center;
    width: 150px;
    color: rgb(143, 148, 150);
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 300px;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.attribution {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 700;
    margin-left: auto;
    margin-right: 25px;
}